.hotspot_box
{
  width: 1080px ;
  height: 1080px ;
  overflow: hidden;
  background:rgba(1,1,1,0.5);
}

.hotspot_slide
{
    width: 50%;
    overflow: hidden;
    height: 1080px;
    vertical-align: middle;
    display: none;

}

.two_slide_tray
{
    width: 2160px;
}

.three_slide_tray
{
    width: 3240px;

}

.left_slide
{
    float: left;
}

.two_slide_tray
.right_slide
{
    margin-left: 50%;
}

.three_slide_tray
.right_slide
{
    margin-left: 67%;
}

.three_slide_tray
.center_slide
{
    margin-left: 33%;
}